form .field-name-bibo-volume,
form .field-name-bibo-issue,
form .field-name-bibo-pages,
form .field-name-bibo-serial_number {
  float: left;
  margin-right: 0.75em;
}

form .field-name-bibo-u {
  clear: left;
}
