div.field-name-bibo-volume,
div.field-name-bibo-issue,
div.field-name-bibo-pages,
div.field-name-bibo-serial_number {
  float: left;
  margin-right: 0.75em;
}

div.field-name-bibo-url {
  clear: left;
}
